{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block cssblock %}
  <link rel="stylesheet" href="{% static 'css/registration/login.css' %}">
{% endblock cssblock %}

{% block title %}
  Login | Instagram
{% endblock title %}

{% block content %}
  <div class="login">
    <div class="name-brand">
      <a href="{% url 'core:home' %}" target="_blank" rel="noopener noreferrer">
        <h1>Djangram</h1>
      </a>
    </div>

    <div class="social-login">
      <a href="#" rel="noopener noreferrer">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" rel="noopener noreferrer">
        <i class="fab fa-google"></i>
      </a>
    </div>

    <p class="tc">
      Or use your account
    </p>

    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" id="id_username" placeholder="Your usernam or email" autofocus autocomplete="off" required>
        <input type="password" name="password" id="id_password" placeholder="Your password" autocomplete="off" required>

        <input type="submit" value="Log In" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

      <p>Forgot password ? <a href="">Reset Password</a></p>

      <p>Don't have account ? <a href="">Sign Up</a></p>
    </div>

  </div>

  <p class="tc">Get the app</p>

  <div class="get-app">
    <a href="#" rel="noopener noreferrer">
      <img alt="Available on the App Store" src="{% static 'img/apple-store.png' %}">
    </a>
    <a href="#" rel="noopener noreferrer">
      <img alt="Available on Google Play" src="{% static 'img/ch-play.png' %}">
    </a>
  </div>

{% endblock content %}
