/* OTHER */
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

p {
  text-align: left;
  margin-bottom: 10px;
}

p.tc {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p a {
  text-decoration: none;
  color: gray;
}

p a:hover {
  color: cornflowerblue;
}

.line-or-login {
  display: flex;
}

.line-or-login hr {
  border-top: 1px solid rgba(27, 27, 27, 1);
}
/* END OF OTHER */

/* NAME BRAND */
.name-brand {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}

.name-brand a {
  text-decoration: none;
}
.name-brand a h1 {
  text-align: center;
  font-family: "Kalam", cursive;
  font-size: 60px;
  text-decoration: none;
  color: black;
}

/* END OF NAME BRAND */

/* LOGIN SOCIAL NETWORK */
.social-login {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.social-login a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  text-decoration: none;
  color: grey;
}

.social-login a:hover {
  color: cornflowerblue;
}
/* END OF LOGIN SOCIAL NETWORK */

/* LOGIN FORM */
.login {
  margin: 50px 0px 30px 0px;
}

.login-form {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;

  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: cornflowerblue;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* END OF LOGIN FORM */

/* GET APP */
.get-app {
  width: 300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.get-app a img {
  height: 40px;
}

.get-app a {
  align-items: center;
  text-decoration: none;
  margin: 20px 5px;
}
/* END OF GET APP */

/* RESPONSIVE */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    width: 100%;
    margin: 0 auto;
    position: sticky;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
/* END OF RESPONSIVE */
