@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*,
body {
  font-family: "Open Sans", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HEADER */

/* END OF HEADER */

/* MAIN */
main {
  width: 50%;
  margin: 0 auto;
}
/* END OF MAIN */

/* FOOTER */
footer.site-footer {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 350px;
}

.footer-contact {
  text-align: center;
}

.footer-contact a {
  text-decoration: none;
}

.footer-contact img.svg {
  width: 2em;
  height: 2em;
  border-radius: 5px;
  margin: 10px;
  filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(137deg) brightness(90%) contrast(90%);
}

.footer-contact img.svg:hover {
  filter: invert(10%) sepia(0%) saturate(11%) hue-rotate(137deg) brightness(90%) contrast(90%);
}

.footer-description {
  padding-top: 5px;
  align-self: center;
}
/* END OF FOOTER */

/* RESPONSIVE */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  footer.site-footer {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
  footer.site-footer {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
/* END OF RESPONSIVE */
