footer.site-footer {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 350px;
}

.footer-contact {
  text-align: center;
}

.footer-contact a {
  text-decoration: none;
}

.footer-contact img.svg {
  width: 2em;
  height: 2em;
  border-radius: 5px;
  margin: 10px;
  filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(137deg) brightness(90%) contrast(90%);
}

.footer-contact img.svg:hover {
  filter: invert(10%) sepia(0%) saturate(11%) hue-rotate(137deg) brightness(90%) contrast(90%);
}

.footer-description {
  padding-top: 5px;
  align-self: center;
}

/* RESPONSIVE */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  footer.site-footer {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
  footer.site-footer {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
/* END OF RESPONSIVE */
