{% load static %}


<!-- Footer -->
<footer class="site-footer">
  <div class="footer-contact">
    <a href="https://github.com/vinhbui107" target="_blank">
      <img class="svg" src="{% static 'img/contact/github.svg' %}">
    </a>
    <a href="https://www.linkedin.com/in/vinhbuitg/" target="_blank">
      <img class="svg" src="{% static 'img/contact/linkedin.svg' %}">
    </a>
    <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=vinhbui.tg@gmail.com" target="_blank">
      <img class="svg" src="{% static 'img/contact/email.svg' %}">
    </a>
    <a href="https://www.instagram.com/vinhbui_/" target="_blank">
      <img class="svg" src="{% static 'img/contact/instagram.svg' %}">
    </a>
    <a href="https://www.facebook.com/vinhbui107/" target="_blank">
      <img class="svg" src="{% static 'img/contact/facebook.svg' %}">
    </a>
  </div>

  <div class="footer-description">
    <p>
      © 2020 DJANGRAM FROM VINH BUI
    </p>
  </div>
</footer>
<!-- End of Footer -->
