{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Welcome to Djangram Of Vinh Bui 2020"/>
    <link rel="icon" type="image/png" href="https://image.flaticon.com/icons/svg/733/733614.svg"/>

    <title>
      {% block title %} {% endblock title %}
    </title>

    <!-- Import Fontawesome & CSS files -->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    {% block cssblock %}
    {% endblock cssblock %}
  </head>
  <body>
      {% block headerblock %} {% endblock headerblock %}

      <main>
        {% block content %} {% endblock content %}
      </main>


      {% block footerblock %} {% endblock footerblock %}

    <!-- Js, Jquery & something else-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block jsblock %} {% endblock jsblock %}
  </body>
</html>
