{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block cssblock %}
  <link rel="stylesheet" href="{% static 'css/users/activate.css' %}">
{% endblock cssblock %}

{% block title %}
  Activate Sent | Instagram
{% endblock title %}

{% block content %}
  <div class="activate">
    <div class="name-brand">
      <a href="{% url 'core:home' %}" target="_blank" rel="noopener noreferrer">
        <h1>Djangram</h1>
      </a>
    </div>

    <div class="activate-message">
      <h3>We sent you a email activate account.</h3>
      <h3>Check your inbox!</h3>
      <a href="{% url 'users:login' %}" class="btn btn-primary">Login</a>
    </div>
  </div>


{% endblock content %}
