/* navbar */
header {
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* end of navbar */

/* navbar brand */
.navbar-name {
  font-family: "Billabong" !important;
  color: black;
  font-size: 32px;
  text-decoration: none;
}

.navbar-name:hover {
  text-decoration: none;
  color: black;
}
/* end of navbar brand */

/* SEARCH */
input.search-input {
  width: 215px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 28px;
}

input.search-input:selection {
  border: 1px solid gray;
}
/* END OF SEARCH */

/* NAVBAR ITEMS */
.navbar-list {
  width: 222px;
  display: flex;
  justify-content: space-between;
}

.dropdown-image img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
}
/* END OF NAVBAR ITEMS */

/* RESPONSIVE */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav {
    width: 90%;
    margin: 0 auto;
  }

  div.search-box {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
  nav {
    width: 90%;
    margin: 0 auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  nav {
    width: 935px;
    margin: 0 auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
/* END OF RESPONSIVE */
